@tailwind base;
@tailwind components;
@tailwind utilities;

.font-outline-2 {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ProseMirror:focus {
  outline: none;
}

div.ProseMirror h1 {
  font-size: 2em;
}

div.ProseMirror h2 {
  font-size: 1.75em;
}

div.ProseMirror h3 {
  font-size: 1.5em;
}

div.ProseMirror h4 {
  font-size: 1.25em;
}

div.ProseMirror h5 {
  font-size: 1.125em;
}

div.ProseMirror h6 {
  font-size: 1em;
}

.ProseMirror ul {
  list-style-type: disc; /* Bullet list style */
  padding-left: 20px;    /* Indentation for lists */
}

.ProseMirror ol {
  list-style-type: decimal; /* Numbered list style */
  padding-left: 20px;       /* Indentation for lists */
}

.ProseMirror li {
  margin-bottom: 5px;  /* Space between list items */
}

.ProseMirror a {
  color: blue; /* Change link color */
  text-decoration: underline; /* Ensure it's visibly a link */
  cursor: pointer;
}