@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-outline {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
} 